data/cache/*
data/processed/*
data/raw/*
data/item2id.json
data/user2id.json
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
PKG-INFO
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
__pypackages__/
htmlcov/
*.htmlcov
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
cover/
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
*.csv
*.parquet
*.hdf5
*.npy
*.npz
checkpoints/
*.pkl
*.joblib
*.h5
*.pth
*.tar.gz
*.onnx
logs/
mlruns/
runs/
results/
tensorboard_logs/
*.log
.ipynb_checkpoints/
profile_default/
ipython_config.py
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm-build/
.DS_Store
.idea/
.vscode/
.vscode/settings.json
*.swp
*.swo
*~
.spyderproject
.spyproject
.ropeproject
docs/_build/
/site
*.mo
*.pot